::-webkit-scrollbar {
    width: 0px;
}

/* General styles*/
/*Define your own styles in this stylesheet*/
body{
	background-color: rgba(230, 230,230,1.00);   
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
}
h1{
	font-family: 'League-Bold' , sans-serif;
	color: rgba(230,230,230,1.00);
	font-style: normal;
	font-weight: 400;
    font-size: 15vh;
    letter-spacing: 8px;
}

h2{
	font-family: 'League-Bold' , sans-serif;
	color: #457f96;
	font-style: normal;
	font-weight: 100;
    font-size: 30px;
    letter-spacing: 4px;
}

h6 {
    
}

h3{
    color: lightgrey;
    font-family: 'League-Bold' , sans-serif;
	font-style: normal;
	font-weight: 100;
    font-size: 30px;
    letter-spacing: 4px;
}

h4 {
    margin: auto;
    margin-bottom: 5px;
    color: white;
    font-family: 'paragraph' , sans-serif;
	font-style: normal;
	font-weight: 100;
    font-size: 20px;
    letter-spacing: 4px;
}


h5 {
	font-size: 14px;
	font-family: 'paragraph', sans-serif;
	font-style: normal;
	font-weight: 100;
	color: white;
	line-height: 1.8;
    margin: 0px 0px 0px 0px;
    text-align: justify;
}

h6 {
	font-family: 'League-Bold' , sans-serif;
	color: #75848A;
	font-style: normal;
	font-weight: 100;
    font-size: 30px;
    letter-spacing: 4px;
}

p{
	font-size: 14px;
	font-family: 'paragraph', sans-serif;
	font-style: normal;
	font-weight: 100;
	color: gray;
	line-height: 1.8;
    margin: 0px 0px 0px 0px;
    text-align: justify;
}


/* Link styles*/
a {
	color: rgba(230,230,230,1.00);
	text-decoration: none;
}
/*
a:visited {
	color: darkslategray;
	text-decoration: none;
}
*/
a:hover {
	color: rgba(150,150,150,1.00);;
	text-decoration: none;
}

.headerStyle {
    height: 100vh;
} 

.centersubtitle {
    width:400px;
    text-align: right;
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-80%, -100%);
}

.linkStyle {
	color: rgba(255,255,255,1.00);
	font-family: 'League-Bold', sans-serif;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;	
}

.aspect-ratio75 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio75 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.centerxy {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.centersubtitle2 {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.parent {
    position: relative;
} 


.logos {
    padding: 2%;
    max-width: 600px;
}

.logos img{
    width: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.float {
    float:left;
    position: relative;
    background-color: #75848A;
    width: 50%;
    padding-top: 0vh;
}

.floatLeft {
    text-align: right;
    position: relative;
    width: 80%;
    height: 100%;
    padding-right: 2%;
    padding-left: 18%;
}


.floatRight {
    text-align:left;
    position:relative;
    width: 80%;
    height: 100%;
    padding-right: 18%;
    padding-left: 2%;
}

.floatRight iframe {
    width:100%;
    height:100%;
}

.contentBuffer {
    text-align: justify; 
    max-width:90%; 
    padding:10px;
}

#TitleHeader {
    position: relative;
  background: #97d8e7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #97d8e7, #fff5e7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #97d8e7, #fff5e7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #97d8e7, #fff5e7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #97d8e7, #fff5e7); /* Standard syntax */
    width: 100%;
}

#infoSection {
    float:left;
    position: relative;
    background-color: lightgrey;
    height: auto;
    width: 43%;
    padding-left: 5%;
    padding-right: 2%;
    overflow-y: scroll;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic-Bold';
    src: url('../fonts/Amatic-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League-Bold';
    src: url('../fonts/LeagueSpartan-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paragraph';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#sampleWork {
    background-color: #75848A;
    height: auto;
    padding-top: 20px;
    padding-bottom: 35px;
}


#demoReel {
    float:left;
    position: relative;
    background-color: lightgrey;
    height: 60vh;
    width: 43%;
    padding-left: 2%;
    padding-right: 5%;
}

#info {
    background-color: lightgrey;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#navMenu {
    height: auto;
    width: 80%;
    padding-left: 10%;
    padding-right: 9%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navIcon {
    float:left;
    width: 24%;
    padding-right: 1%;
    height:auto;
}

.navIcon img {
    filter: brightness(60%);
    width: 100%;
    padding-bottom: 10px;
}

.navIcon img:hover {
    filter: brightness(100%);
}

.invisible {
    visibility: hidden;
}
.fillheight {
    height:100%;
}

.hidescroll {
    opacity: 0;
}
.titlepos {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -80%);
}

.navBar {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 95%;
    transform: translate(-100%, 100%);
    width: 50%;
}

.navBar a {
    float: right;
	font-family: 'League-Bold' , sans-serif;
    font-size: 25px;
    padding-right: 7%;
    
}